html {
    font-family: 'Saira', sans-serif;
}

body {
    background: #5f5e5e;
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container form {
    min-width: 320px;
    padding: 8px;
    border: 2px dashed #444444;
}

.container form .field {
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.container form .field input {
    width: 100%;
}